img {
  transition: all 0.2s;
  width: 400px;
  height: 500px;
  margin: 7px;
}

.flexbox {
   flex-wrap: nowrap; 
  /*justify-content: center;*/
  display: inline-block;

}

img:hover {
  transform: scale(1.07);
  /*width: 450px;
  height: 550px;
  margin: 30px;*/
}
